db_foreach_choice/target/META-INF/mule-src/db_foreach_choice/src/main/mule/db_foreach_choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7df2ff57-0322-43d3-883a-feaf36c019fd" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b2cbd9af-7ede-4930-b0f8-f685e2b91019" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="database-pocFlow" doc:id="1c9cbf0c-f5bd-42d3-8970-c98a357e0295" >
		<http:listener doc:name="Listener" doc:id="6ec448fd-3394-4553-8139-a70d50c4e5b9" config-ref="HTTP_Listener_config" path="/fc"/>
		<logger level="INFO" doc:name="Logger" doc:id="d45e3b55-38bb-46f5-981f-e24b1c689569" />
		<db:select doc:id="89b5d103-0019-4cea-9674-55a11a8f9643" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from accounts]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f042e635-3cc2-4b17-aa60-20033267ca54">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="8b01fe0d-52f2-4ecb-be4e-3e91e9f5f88e" >
			<choice doc:name="Choice" doc:id="be43044a-45f4-4137-8e73-e2379eb22022">
			<when expression='#[payload.city == "Memphis"]'>
				<ee:transform doc:name="Transform Message" doc:id="9ab1bd17-1a55-4d1b-af75-cbca2b03d4cc">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.city == "Fresno"]'>
					<ee:transform doc:name="Transform Message" doc:id="26114e60-4080-4360-b5a0-a6b47bd39626">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="c05b8ca8-58d1-434e-a23c-49545af20ff1" message="default message" />
			</otherwise>
		</choice>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="0ba9edc1-5d9d-4c83-becd-cc683159195c" message="#[payload]"/>
	</flow>
</mule>
