setpayload_foreach/target/classes/setpayload_foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="776f4b11-403e-4e01-8528-2038cc11d66b" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bac5592c-3689-4283-b2ef-7c01857ffb4a" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<http:request-config name="HTTP_Request_config" doc:name="HTTP Request config" doc:id="4abec6e2-e594-46de-8021-31e0f6d92c4e" >
		<http:request-connection host="training4-american-ws.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="transform-messageFlow" doc:id="773954ae-249c-43a9-a2ce-4f7493e17923" >
		<http:listener doc:name="Listener" doc:id="6a440733-bdac-44f2-8b80-d10028b9b5c4" config-ref="HTTP_Listener_config" path="/transform"/>
		<logger level="INFO" doc:name="Logger" doc:id="3e13e198-22d2-4761-b942-207a8006c70b" />
		<http:request doc:name="Request" doc:id="b817c5c8-aedb-4119-b02f-76316485b5f1" config-ref="HTTP_Request_config" path="/api/flights"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="5fafb6ce-e281-4680-a2e9-084ec9615723" variableName="flightsApiResponse"/>
		<db:select doc:name="Select" doc:id="7fa08ae0-2286-4165-a23b-f5ac48185e40" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from accounts where country = 'United States']]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6979e56c-21e7-4b83-8a0a-c5622e302e97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[[1,2,2,3,4]]" doc:name="Set Payload" doc:id="eba333e3-eda3-43f9-97f8-dfa4510276f6" />
		<foreach doc:name="For Each" doc:id="66423409-59f9-4062-b0b2-dc566ba8126a" >
			<ee:transform doc:name="Transform Message" doc:id="78b9bea6-5a57-4c29-a124-68f940445733" >
				<ee:message >
					<ee:set-payload ><![CDATA[payload + 5]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="7bf84b65-70b8-4cb1-a7fe-33eb706ae5b1" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="End Logger" doc:id="01cd94f5-307b-45c5-a874-c4e41399388e" message="sample flow ended" />
	</flow>
</mule>
