scheduler_file/target/META-INF/mule-src/scheduler_file/src/main/mule/scheduler_file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="ef734574-8aff-462c-aea9-bb22dfbf3be8" />
	<flow name="scheduler_fileFlow" doc:id="e4abdb9d-519a-4bbd-af81-041c5d11e8c2" >
		<scheduler doc:name="Scheduler" doc:id="0a0287c3-daa9-44a6-b390-7e0ecb3ac69a" >
			<scheduling-strategy >
				<cron expression="0 0/5 * 1/1 * ? *" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="451c9c91-9712-4a7f-814d-a028e1ecb546" message='#["started at-" ++ now()]'/>
		<file:read doc:name="Read" doc:id="964eb4a8-2eb4-497c-a563-208007535be7" config-ref="File_Config" path="C:\mule\scheduler_file\file_read.txt"/>
		<file:write doc:name="Write" doc:id="466ef109-a123-41f8-afb0-63b0e3a32090" path="C:\mule\scheduler_file\file_write.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="a9ecacf7-ccef-4c50-bbc8-7416b7c27fe2" message='#["ended at-" ++ now()]'/>
	</flow>
</mule>
